@{
    ViewData["Title"] = "View Appointments";
}


@model IEnumerable<_413_Project_one.Models.Group>

<body>
    <div class="container-fluid">
        <h1>@ViewData["Title"]</h1>
        <h2>Here is the list of Appointments</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Appt ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (_413_Project_one.Models.Group r in Model)
                {
                    <tr>
                        <td>@r.GroupID</td>
                        <td>@r.GroupName</td>
                        <td>@r.GroupSize</td>
                        <td>@r.GroupContactEmailAddress</td>
                        <td>@r.GroupContactPhoneNumber</td>
                        <td>@r.GroupAppointmentID</td>

                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h3><a asp-controller="home" asp-action="NewAppointment">Click here</a> to add another Appointment</h3>
    </div>
</body>
    
